<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
    integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Kartikey Welafare Trust</title>
</head>
<body>
    {{> navbar navbarData=navbarLink}}
    <div class="container" style="padding: 200px 0px;">
        <div class="d-flex justify-content-around">
          <h1 style="text-align: center;">Admin Panel</h1>
          <button class="btn btn-info" style=" height: 45px;" id="logoutBtn">Logout</button>
        </div>
        <div id="data" class="d-flex justify-content-center">
            <div class="card m-5" style="width: 20rem;">
                <div class="card-body">
                    <h3 class="card-title">Add Upcoming Events</h3>
                    <p class="card-text">Click here to add upcoming events</p>
                    <a href="/addEvents" class="formBtn">Add Upcoming Events</a>
                </div>
            </div>

            <div class="card m-5" style="width: 20rem;">
                <div class="card-body">
                    <h3 class="card-title">See all members</h3>
                    <p class="card-text">Click here to see all members</p>
                    <a href="/allMembers" class="formBtn">See all members</a>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}

 {{! bootstrap js }}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const logoutBtn = document.getElementById('logoutBtn');
            const email = localStorage.getItem('email');
            const password = localStorage.getItem('password');

            if (email && password) {
                logoutBtn.style.display = 'block'; 
            } else {
                logoutBtn.style.display = 'none'; 
            }
            
            const User = {
                clearCredentials: function () {
                    localStorage.removeItem('email');
                    localStorage.removeItem('password');
                    logoutBtn.style.display = 'none';
                }
            };

            logoutBtn.addEventListener('click', function () {
                User.clearCredentials();
            });
        });
    </script>
</body>



    </body>
</html>
